'atom-text-editor.vim-mode-plus.insert-mode':
  'd f': 'vim-mode-plus:activate-normal-mode'
'atom-text-editor.vim-mode-plus.normal-mode':
  'enter': 'editor:newline-below'
'autocomplete-plus':
  suppressActivationForEditorClasses: [
    'vim-mode-plus.normal-mode'
    'vim-mode-plus.visual-mode'
    'vim-mode-plus.operator-pending-mode'
    'vim-mode-plus.insert-mode.replace'
  ]
'atom-text-editor.vim-mode-plus.visual-mode.is-narrowed':
  'alt-d': 'vim-mode-plus:select-occurrence'
  'alt-c': 'vim-mode-plus:change-occurrence'
